*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    height: 100vh;
    background-image: url(./Assets/pexels-rfstudio-3819572.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 540px;
    background-color: #F5F2F0;
}

.navbar{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 100px;
    margin-left: 100px;
}

.line{
    height: 1.5px;
    width: 300px;
    background-color: black;
    margin-left: 350px;
}

.list-items{
    display: flex;
    list-style: none;
    margin-right: 50px;
    /* overflow-x: auto;     */
}

.list-item{
    margin: 0px 40px;
    color: #333333a9;
}

.list-item:hover{
    color: #000000;
}

.middle{
    margin-top: -10px;
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.middle h1{
    font-size: 150px;
}

.middle .part1{
    position: absolute;
    left:600px;
    right: 0;
    top: 0;
    bottom: 0;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
}

.middle .part2{
    position: absolute;
    left:750px;
    right: 0;
    top: 110px;
    bottom: 0;
    color: #333333;
}

.middle p{
    position: absolute;
    top:160px;
    left: 1150px;
    font-size: 40px;
    color: #333333;
}

.middle .icons{
    position: absolute;
    left: 1490px;
    right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons img{
    margin: 20px 0px;
    height: 20px;
}

button{
    position: absolute;
    left: 1150px;
    padding: 15px 65px;
    font-size: 17px;
    border-style: none;
    background-color: #333333;
    color: #F5F2F0;
}

button:hover{
    background-color: #333333a9;
}

.bottom{
    position: relative;
    margin-top: 60px;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vertical-line{
    position: absolute;
    left: 600px;
    top: 30px;
    width: 1.5px;
    height: 320px;
    background-color: #33333388;

}

.bottom ul{
    position: absolute;
    left:644px;
    line-height: 60px;
    list-style: none;
    font-size: 20px;
    margin-right: 40px;
}

.hov{
    color: #333333a9;
}

.hov:hover{
    color: #000000;
}


.circle{
    margin-top: 23px;
    position: absolute;
    left:-50px;
    right: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #333333a9;
}

.circle:hover{
    margin-top: 23px;
    position: absolute;
    left:-48.5;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000000;
}

.bottom .content{
    position: absolute;
    left:844px;
    width: 370px;
    margin-right: 50px;
}

.bottom .content p{
    font-size: 20px;
    margin-bottom: 10px;
}

.content img{
    height: 280px;
}

.arrow{
    margin-top: 100px;
    margin-right: 90px;
    color: #333333;
}

@media screen and (max-width:1300px) {
    body{
        background-image: none;
        background-color: #F5F2F0;
    }

    .line{
        margin-left: 150px;
    }

    .middle .part1{
        left:100px;
    }
    
    .middle .part2{
        left:250px;
    }
    
    .middle p{
        left: 650px;
    }
    
    .middle .icons{
        left: 1090px;
    }
    
    button{
        left: 650px;
    }

    .vertical-line{
        left: 100px;
    }

    .bottom ul{
        left:144px;
    }

    .bottom .content{
        left:344px;
    }
    .arrow{
        display: none;
    }
}

@media screen and (max-width:1000px) {

    .line{
        display: none;
    }

    .list-items{
        margin-right: 200px;
    }
    
    .list-item{
        margin: 0px 40px;
        color: #333333a9;
    }

    .middle h1{
        font-size: 100px;
    }

    .middle .part1{
        top: 30px;
    }

    .middle .part2{
        top: 130px;
        left:180px;
    }

    .middle p{
        left: 450px;
    }
    button{
        left: 450px;
    }

    .middle .icons{
        left: 690px;
    }
}

@media screen and (max-width:750px){
    .list-items{
        margin-right: 0px;
    }
        
    .list-item{
        width: 80px;
        margin: 0px 30px;
        color: #333333a9;
    }

    .vertical-line{
        top:100px;
        left: 100px;
    }

    .bottom ul{
        top:100px;
        left:144px;
    }

    .bottom .content{
        top:100px;
        left:344px;
    }

    button{
        top: 350px;
        left: 250px;
        padding: 15px 65px;
        width: 300px;
    }
}

@media screen and (max-width:650px){

}
